@page "/stock/{param?}";

@using BlazorApp.Data.Controllers;
@using BlazorApp.Data.Models;
@using BlazorApp.Data;
@inject FinhubController finhub;

<PageTitle>Index</PageTitle>

@if(company == null)
{
    
} else
{
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@company.name</h1>&nbsp;
        @*<input type="text" onchange="@Search" />*@
        <hr class="my-4">
    </div>
</div>
}


@code {
    [Parameter]
    public string? Param { get; set; }
    string _Param;
    private CompanyInfo company;

    protected async override Task OnInitializedAsync()
    {
        _Param = Param;
        company = await finhub.Test(Param);
        StateHasChanged();
        Console.WriteLine("Yay");
    }

    protected async override void OnParametersSet()
    {
        // re-initialize componet when url param is udpated
        if (_Param != Param)
        {
            _Param = Param;
            await OnInitializedAsync();
        }
      }
}