@page "/"

@using BlazorApp.Data.Controllers
@using BlazorApp.Data.Models
@using BlazorApp.Data;
@*@inject Tester tester*@
@inject RedditController tester

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



@code {

    //private List<test> rep;

    protected override void OnInitialized()
    {
        //rep = tester.best();
        //Console.WriteLine("ree");
        tester.GetCustomers();
    }
}