@page "/";

@using BlazorApp.Data.Controllers;
@using BlazorApp.Data.Models;
@using BlazorApp.Data;
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome!</h1>&nbsp;
        <label>Search for a stock ticker!:</label>
        <input type="text" onchange="@Search" />
        <hr class="my-4">
    </div>
</div>



@code {
   public void Search(ChangeEventArgs e)
    {
        NavManager.NavigateTo($"/stock/{e.Value}");
    }
}